@tailwind base;
@tailwind components;
@tailwind utilities;

*::selection {
    color: #99E699;
    background: #0F8B3A;
  }

img {
  user-select: none;
}

body {
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
  scrollbar-color: #0F8B3A  #f1f1f1;
}

html, body {
  @apply overflow-x-hidden
}